@using ePOS3.Utils
@using Newtonsoft.Json
@{
    ePosAccount posAccount = new ePosAccount();
    if (Request.Cookies[".ASPXAUTH"] != null)
    {
        posAccount = (ePosAccount)JsonConvert.DeserializeObject(FormsAuthentication.Decrypt(Request.Cookies[".ASPXAUTH"].Value).UserData, typeof(ePosAccount));
    }
    else
    {
        <script>
            $(function() {
                window.location.href = '/ePOS/Login';
            });
        </script>
        return;
    }
}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#ChangePass" data-toggle="tab">Đổi mật khẩu</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="ChangePass">
                    <br />
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mật khẩu cũ:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="OldPassword" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mật khẩu mới:  </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="NewPassword" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Xác nhận mật khẩu:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="ConfirmPassword" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 text-left ">
                                <button type="button" id="btnSave" class="btn btn-success">Lưu thay đổi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            if (!$("#OldPassword").val()) {
                document.getElementById('msg_error').innerHTML = 'Mật khẩu cũ để trống';
                $("#error").data('myControl', 'OldPassword');
                $('#error').modal('show');
            } else if (!$("#NewPassword").val()) {
                $("#error").data('myControl', 'NewPassword');
                document.getElementById('msg_error').innerHTML = 'Mật khẩu mới phải có 6-20 ký tự.';
                $('#error').modal('show');
            } else if ($("#NewPassword").val().trim().length > 20 || $("#NewPassword").val().trim().length <6 ) {
                $("#error").data('myControl', 'NewPassword');
                document.getElementById('msg_error').innerHTML = 'Mật khẩu phải có 6-20 ký tự.';
                $('#error').modal('show');
            } else if (!$('#ConfirmPassword').val()) {
                $("#error").data('myControl', 'ConfirmPassword');
                document.getElementById('msg_error').innerHTML = 'Vui lòng nhập xác nhận mật khẩu';
                $('#error').modal('show');
            } else if($("#ConfirmPassword").val().trim().length > 20 || $("#ConfirmPassword").val().trim().length <6 ) {
                $("#error").data('myControl', 'ConfirmPassword');
                document.getElementById('msg_error').innerHTML = 'Xác nhận mật khẩu phải có 6-20 ký tự.';
                $('#error').modal('show');
            } else {
                $('.loading').show();
                $.ajax({
                    url: '/ePOS/ChangePass',
                    type: 'post',
                    data: {
                        OldPass: $("#OldPassword").val(),
                        NewPass: $("#NewPassword").val(),
                        ConfirmPass: $("#ConfirmPassword").val()
                    },
                    success: function (data) {
                        $('.loading').hide();
                        if (data.isRedirect) {
                            window.location.href = data.redirectUrl;
                        } else if (data.Result == 'SUCCESS') {
                            document.getElementById('msg_info').innerHTML = data.Message;
                            $('#info').data('index', 3);
                            $('#info').modal('show');
                        } else {
                            document.getElementById('msg_error').innerHTML = data.Message;
                            var index = data.index;
                            if (index == 1) {
                                $("#error").data('myControl', 'NewPassword');
                            } else if (index == 2) {
                                $("#error").data('myControl', 'ConfirmPassword');
                            }
                            $('#error').modal('show');
                        }
                    },
                    error: function (errorThrown) {
                        $('.loading').hide();                       
                        window.location.href = '@Url.Action("Login", "ePOS")';
                    }
                });
            }
        });
    });
</script>