@using ePOS3.Utils
@using Newtonsoft.Json
@{
    ePosAccount posAccount = new ePosAccount();
    if (Request.Cookies[".ASPXAUTH"] != null)
    {
        posAccount = (ePosAccount)JsonConvert.DeserializeObject(FormsAuthentication.Decrypt(Request.Cookies[".ASPXAUTH"].Value).UserData, typeof(ePosAccount));
    }
    else
    {
        <script>
            $(function() {
                window.location.href = '/ePOS/Login';
            });
        </script>
        return;
    }
}
@model ePOS3.Models.CardIdentifierModel
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <ul class="nav nav-tabs">
                <li class="nav-item active"><a href="#SummaryReport" data-toggle="tab">Định danh thẻ</a></li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="SummaryReport">
                    <br />
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Công ty ĐL:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.DropDownListFor(m => m.PC, Model.PCList, new { @class = "form-control chosen-select" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã KH:  </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="Customer" class="form-control" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Mã thẻ:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="CardCode" class="form-control" maxlength="20">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 text-left ">
                                <button type="button" id="btnSearchCardIdentifier" class="btn btn-success">Tìm kiếm</button>
                                <button type="button" id="btnExportCardIdentifier" class="btn btn-primary" disabled title="Xuất báo cáo định danh thẻ ra file excel" onclick="checkCNN(2)">Xuất File</button>
                                <input type="hidden" id="id_pc" />
                                <input type="hidden" id="id_customer" />
                                <input type="hidden" id="id_card" />
                                <input type="hidden" id="id_total" />
                                <input type="hidden" id="export" value="0" />
                            </div>
                        </div>
                    </form>
                    <div id="CardIdentifierContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dynamic-modal"></div>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    $(document).ready(function () {
        $('#CardIdentifierContainer').jqxGrid({
            width: '100%',
            autoheight: true,
            renderToolbar: function (toolbar) {
                var container = $("<div style='overflow: hidden; position: relative; height: 100%; width: 100%; text-align: center;background: #5992cd;'>" +
                    "<h4 style='margin-top: 10px; float: left; padding-left: 10px; font-size: 11px; font-weight: bold;'>Danh sách định danh thẻ</h4></div>");
                
                toolbar.append(container);
            },
            enablebrowserselection: true,
            columnsresize: true,
            sortable: false,
            pageable: true,
            pagesize: 50,
            pagesizeoptions: ['50', '100', '200', '300', '500'],
            pagerMode: 'advanced',
            showToolbar: true,
            autorowheight: true,
            altrows: true,
            columns: [
                {text: 'STT', dataField:'col_8',width: '3%', align: 'center', cellsalign: 'left' },
                { text: 'Mã khách hàng', dataField: 'col_1', width: '10%', align: 'center', cellsalign: 'left' },
                { text: 'Mã thẻ', dataField: 'col_2', width: '7%', align: 'center', cellsalign: 'left' },
                { text: 'Tên khách hàng', dataField: 'col_3', width: '20%', align: 'center', cellsalign: 'left' },
                { text: 'Địa chỉ', dataField: 'col_4', width: '33%', cellsalign: 'left', align: 'center' },
                { text: 'ĐT EVN', dataField: 'col_5', width: '7%', cellsalign: 'left', align: 'center' },
                { text: 'ĐT ECPAY', dataField: 'col_6', width: '7%', cellsalign: 'right', align: 'center' },
                { text: 'Sổ GCS', dataField: 'col_7', width: '10%', cellsalign: 'right', align: 'center' }
            ],
        });
        $('#btnSearchCardIdentifier').click(function () {
            var paginginformation = $('#CardIdentifierContainer').jqxGrid('getpaginginformation');
            $('.loading').show();
            $.ajax({
                url: '/Report/SearchCardIdentifier',
                type: 'post',
                data: {
                    pc: $('#PC option:selected').val(),
                    customer: $('#Customer').val(),
                    cardcode: $('#CardCode').val(),
                    pagenum: paginginformation.pagenum,
                    pagesize: paginginformation.pagesize
                },
                success: function (data) {
                    $('.loading').hide();
                    if (data.isRedirect)
                        window.location.href = data.redirectUrl;
                    if (data.Result == "SUCCESS") {
                        $('#id_pc').val($('#PC option:selected').val());
                        $('#id_customer').val($('#Customer').val());
                        $('#id_card').val($('#CardCode').val());
                        $('#id_total').val(data.total_bill);
                        $('#export').val(1);
                        $('#CardIdentifierContainer').jqxGrid('refresh');
                        $('#btnExportCardIdentifier').prop('disabled', false);
                        var dataadapter2 = new $.jqx.dataAdapter(sourceDetail(data));
                        $("#CardIdentifierContainer").jqxGrid({
                            source: dataadapter2,
                            rendergridrows: function () {
                                return dataadapter2.records;
                            },
                        });
                    } else {
                        $('#btnExportCardIdentifier').prop('disabled', true);
                        $('#id_pc').val('');
                        $('#id_customer').val('');
                        $('#id_card').val('');
                        $('#export').val(0);
                        $('#CardIdentifierContainer').jqxGrid('clear');
                        document.getElementById('msg_error').innerHTML = data.Message;
                        $('#error').modal('show');
                    }
                },
                error: function (ErrorThrown) {
                    $('.loading').hide();
                    window.location.href = '@Url.Action("Login", "ePOS")';
                }
            });
        });

        $("#CardIdentifierContainer").bind("pagechanged", function (event) {
            if ($('#export').val() == 1) {
                $('.loading').show();
                $.ajax({
                    url: '/Report/SearchCardIdentifier',
                    type: 'post',
                    data: {
                        pc: $('#id_pc').val(),
                        customer: $('#id_customer').val(),
                        cardcode: $('#id_card').val(),
                        pagenum: event.args.pagenum,
                        pagesize: event.args.pagesize
                    },
                    success: function (data) {
                        $('.loading').hide();
                        if (data.isRedirect)
                            window.location.href = data.redirectUrl;
                        if (data.Result == "SUCCESS") {
                            $('#btnExportCardIdentifier').prop('disabled', false);
                            $('#CardIdentifierContainer').jqxGrid('refresh');
                            var dataadapter2 = new $.jqx.dataAdapter(sourceDetail(data));
                            $("#CardIdentifierContainer").jqxGrid({
                                source: dataadapter2,
                                rendergridrows: function () {
                                    return dataadapter2.records;
                                },
                            });
                        } else {
                            $('#btnExportCardIdentifier').prop('disabled', true);
                            $('#id_pc').val('');
                            $('#id_customer').val('');
                            $('#id_card').val('');
                            $('#export').val(0);
                            $('#CardIdentifierContainer').jqxGrid('clear');
                            document.getElementById('msg_error').innerHTML = data.Message;
                            $('#error').modal('show');
                        }
                    },
                    error: function (ErrorThrown) {
                        $('.loading').hide();
                        window.location.href = '@Url.Action("Login", "ePOS")';
                    }
                });
            }
        });
    });
    function checkCNN() {
        if ($('#export').val() == 1) {
            $('.loading').show();
            $.ajax({
                url: '/Report/CheckSession',
                type: 'post',
                data: {
                    pc: $('#id_pc').val(),
                    customer: $('#id_customer').val(),
                    cardcode: $('#id_card').val(),
                    pagenum: 0,
                    pagesize: $('#id_total').val()
                },
                success: function (data) {
                    $('.loading').hide();
                    if (data.isRedirect) {
                        window.location.href = data.redirectUrl;
                    } else if (data.Result == 'ERROR') {
                        document.getElementById('msg_error').innerHTML = data.Message;
                        $('#error').modal('show');
                    }
                    else {
                        window.location.href = '/Report/ExportCardIdentifier?id=' + encodeURI(data.Message);
                    }
                },
                error: function (ErrorThrown) {
                    $('.loading').hide();
                    window.location.href = '@Url.Action("Login", "ePOS")';
                }
            });
        }
    }
    function sourceDetail(data) {
        var source =
        {
            datatype: "array",
            localData: data.Records,
            totalrecords: data.total_bill,
           
            beforeprocessing: function (data) {
                source.totalrecords = data[0].col_9;
            }
        };
        return source;
    }
</script>
