<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
        type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ePOSManager" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\ePOSManager.log"/>
      <!--D:\Logs\eDongInternet-->
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="EPOS">
      <level value="INFO" />
      <appender-ref ref="ePOSManager" />
    </logger>


    <appender name="LoginAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\LOGIN.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="LOGIN">
      <level value="ALL" />
      <appender-ref ref="LoginAppender" />
    </logger>
    
    <appender name="AccountAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\ACCOUNT.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="ACCOUNT">
      <level value="ALL" />
      <appender-ref ref="AccountAppender" />
    </logger>
    
    <appender name="CustomerAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\CUSTOMER.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="CUSTOMER">
      <level value="ALL" />
      <appender-ref ref="CustomerAppender" />
    </logger>
    
     <appender name="SupportAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\SUPPORT.log"/>      
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="SUPPORT">
      <level value="ALL" />
      <appender-ref ref="SupportAppender" />
    </logger>
    
     <appender name="ReportAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\REPORT.log"/>      
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="REPORT">
      <level value="ALL" />
      <appender-ref ref="ReportAppender" />
    </logger>
    
     <appender name="ImportAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\IMPORT.log"/>      
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="IMPORT">
      <level value="ALL" />
      <appender-ref ref="ImportAppender" />
    </logger>
        

     <appender name="ManagementAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\MANAGER.log"/>      
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="500" />
      <maximumFileSize value="100MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="MANAGEMENT">
      <level value="ALL" />
      <appender-ref ref="ManagementAppender" />

    </logger>
    <appender name="ePOSDAO" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\ePOSDao.log"/>
      <!--D:\Logs\eDongInternet-->
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="EPOSDAO">
      <level value="INFO" />
      <appender-ref ref="ePOSDAO" />
    </logger>

    <appender name="PushAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager\\PUSH.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="PUSH">
      <level value="ALL" />
      <appender-ref ref="PushAppender" />
    </logger>
  
  <appender name="Accountantppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\ACCOUNTANT.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="ACCOUNTANT">
      <level value="ALL" />
      <appender-ref ref="Accountantppender" />
    </logger>
    
  
  <appender name="Billppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\ACCOUNTANT.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="BILL">
      <level value="ALL" />
      <appender-ref ref="Billppender" />
    </logger>


    <appender name="Resfullppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\\Logs\\ePOSManager3\\RESFUL.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200MB" />
      <encoding value="UTF-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>

    <logger name="RESFUL">
      <level value="ALL" />
      <appender-ref ref="Resfullppender" />
    </logger>  
    
  </log4net>
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
